# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# terraform
# Ignore the Terraform hidden directory and its contents
/terraform/.terraform/

# Ignore modules or directories
/terraform/modules/lambdaContacts/pythonContacts
/lib/lambda_layers

# Ignore Terraform state files (best practice)
/terraform/*.tfstate
/terraform/*.tfstate.*

# Ignore Terraform backup files
/terraform/*.backup

# Ignore crash logs
/terraform/crash.log

# Ignore Terraform lock file
/terraform/.terraform.lock.hcl

# Ignore provider overrides
/terraform/override.tf
/terraform/override.tf.json
/terraform/*.override.tf
/terraform/*.override.tf.json
app/aws/layer.zip
